# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Среды разработки
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Секреты и настройки
*.env
*.env.*
*.json
*.yml

# Папки для сборки
build/
dist/
*.egg-info/
.eggs/

# Инструменты упаковки
*.log
*.bak

# Игнорировать временные файлы, которые не нужны для репозитория
*.swp
*.swo
*.~*

# Игнорировать данные, которые не нужно включать в репозиторий
img/CODESNIP/